<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>:: {{ .Site.Title }} :: {{ .Title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="{{ .Site.Params.static }}/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="{{ .Site.Params.static }}/css/bootstrap-slate.min.css">
    <link rel="stylesheet"
          href="{{ .Site.Params.static }}/css/main.css">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ .Site.Params.static }}/img/apple-touch-icon-144-precomposed.png">
    <script type="text/javascript"
            src="{{ .Site.Params.static }}/js/modernizr-2.6.2-respond-1.1.0.min.js">
    </script>
</head>
